label {
  margin-right: 1rem;
}

mat-card-title {
  margin-bottom: 2rem;
}

mat-card {
  width: 35% !important;
  margin: auto;
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-form-field-top {
  margin-top: 2rem;
}

.login {
  margin-top: 2rem;
  width: 100%;
}
