.mat-dialog-content {
  padding: 10px;
  text-align: center;
}
.mat-dialog-container {
  padding: 0px !important;
  background-color: grey;
}

.mat-dialog-title {
  color: black;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding: 20px 0px !important;
}

.mat-typography{
  height:100%
}
